
.footer {
    background-color: #003366; 
    color: white; 
    padding: 0.5rem 1rem;
    text-align: center;
  }
  
  .footer p, .footer span {
    margin: 0 1.0rem; 
}

.footer span {
    cursor: pointer;
    text-decoration: underline;
}

