
.privacy-policy-container {
    background-color: #ffffff; 
    color: #4a4a4a; 
    padding: 20px; 
    line-height: 1.6; 
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; 
    text-align: left; 
}

.privacy-policy-container h1, .privacy-policy-container h2 {
    color: #333333; 
}

.privacy-policy-container p {
    margin-bottom: 1em; 
}

.privacy-policy-container ul {
    padding-left: 20px; 
    margin-bottom: 1em; 
}

.privacy-policy-container li {
    margin-bottom: 0.5em; 
}

