
.header {
    background-color: #003366; 
    color: white; 
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: center; 
    align-items: center;
}



.header img {
    max-height: 50px; 
    width: auto; 
}
