
.home-page {
    background-color: #f4f4f8; 
    color: #333; 
    padding: 20px;
    text-align: center;
}

.home-page h1 {
    color: #0056b3; 
    font-size: 2.5em; 
    margin-bottom: 0.5em; 
}

.home-page p.intro {
    color: #007bff;
    font-size: 1.5em; 
    font-weight: bold; 
    margin: 20px 0; 
}

.home-page p {
    text-align: left; 
    margin: 10px 0; 
}


.home-page .content {
    max-width: 800px; 
    margin: auto; 
    text-align: left; 
    background-color: #ffffff; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
    padding: 20px; 
    border-radius: 8px; 
}
